html,body{
    margin: 0px;
    color: white;
    box-sizing: border-box;
}

.container {

    background-image: url(./assets/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
}
.header {
    display: flex;
    height: 32px;
    padding: 10px 6px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    gap: 10px;
}
.header-left {
    display: flex;
    padding: 10px;
    align-items: center;

}

.header-right {
    display: flex;
    height: 52px;
    padding: 10px 5px;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 0%;
}

.name {
    color: rgba(255, 255, 255, 0.85);
    /* Body/regular */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.content {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    display: inline;
    gap: 45px;
    margin: 0px;
    border: 0px;
    display: table;
}
.content-left {
    background-image: url(./assets/Frame.png);
    display: inline-flex;
    width: 217.131px;
    height: 210.183px;
    flex-shrink: 0;
    position: relative;
    display: table-cell;
}
.content-right {
    background-image: url(./assets/Frame.png);
    display: inline-flex;
    flex-shrink: 0;
    width: 217.131px;
    height: 210.183px;
    flex-shrink: 0;
    position: relative;
    display: table-cell;
}
.box1{
    width: 52%;
    height: 52%;
    border-radius: 20px;
    background: linear-gradient(180deg, #FF8DFF 18.99%, #FF8DFF 19.37%, #FF83FF 25.88%, #9588FF 100%);
    box-shadow: 0px 4px 4px 0px rgba(197, 134, 255, 0.15);
    box-sizing: border-box;
    display: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
.box2{
    width: 52%;
    height: 52%;
    border-radius: 20px;
    background: linear-gradient(180deg, #ECF556 18.99%, #F9E04E 23.06%, #FFD64A 25.88%, #FF9292 100%);
    box-shadow: 0px 4px 4px 0px rgba(112, 143, 242, 0.10);
    box-sizing: border-box;
    display: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table {
    display:grid;
    grid-template-columns: 1fr 1fr ; /* chia làm 2 cột */
    grid-column-gap: 45px; /* khoảng cách giữa các cột */
}
@media (max-width: 700px) {
    .box{grid-template-columns: 1fr 1fr;} /* thành 2 cột */
}
/*------------*/
.link{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration: none
}
